.controls {
  display: inline-block;
}

.action-fullscreen {
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 1em;
  font-size: 1.3em;
}

.controls-id {
  font-weight: bold;
}

.input-wrap {
  margin-top: .5em;
}
